<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HYDROMAP | Digital Water Management</title>
    <script src="/static/js/tailwindcss.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <link rel="stylesheet" href="/static/css/admin_custom.css" />
</head>
<body class="bg-[#060a15] text-slate-100 font-sans overflow-hidden h-screen w-screen selection:bg-blue-500/30">
    {% block content %}{% endblock %}
</body>
</html>
